.nav-link:hover{
    background-color: #deeff5 ;
}

.custom-min-vh-100 {
    min-height: 100vh !important;
}

@media (max-width: 575px) {
    .custom-min-vh-100 {
        min-height: auto !important;
    }

    .main-content{
        position: relative;        
        overflow: auto;
        max-height: calc(100vh - 115px) ;
    }

    
    
}

@media (min-width: 575px) {

.header-content{
    /* position: relative; */
    overflow: auto;
    max-height: 100vh;    
    
}

.main-content{
    /* position: relative;         */
    overflow-y: auto;    
    max-height: calc(100vh) ;
}

} 
  

